[Desktop Entry]
Name=First Gtk App
GenericName=First Gtk App
Comment=Proves that we can use Vala and Gtk
Categories=Utility;Education;
Exec=com.github.marcelovbcfilho.first-gtk-app
Icon=com.github.marcelovbcfilho.first-gtk-app
Terminal=false
Type=Application
Keywords=Hello;World;Example;
